    <!-- ============ footer ============ -->
    <footer id="footer">
        <div class="container">
            <div class="footer-content">
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <p class="lead">Call Us</p>
                        <p>234892739</p>
                    </div>
                </div>
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-envelope-open"></i>
                    </div>
                    <div class="content">
                        <p class="lead">write for us</p>
                        <p>example@gmail.com</p>
                    </div>
                </div>
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-map-location"></i>
                    </div>
                    <div class="content">
                        <p class="lead">Address</p>
                        <p>12 Abc, sc 34343 USA</p>
                    </div>
                </div>
            </div>
            <!-- footer 2nd section -->
            <!-- Footer 2nd section -->
            <div class="footer-wrapper">
                <div class="about">
                    <div class="img-logo">
                        <img src="/Img/logo.png" alt="Logo">
                    </div>
                    <p class="lead">Explore FATA, your ultimate guide to the former Federally Administered Tribal Areas.</p>
                    <div class="social-icons">
                        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/destination">Destination</a></li>
                        <li><a href="/">Blog</a></li>
                        <!-- <li><a href="/">Contact</a></li> -->
                    </ul>
                </div>
                <div class="subscribe">
                    <h2>Subscribe</h2>
                    <p class="lead">Sign up for our monthly newsletter to stay informed about travel and tours.</p>
                    <form action="">
                        <input type="email" placeholder="Email Address" required>
                        <button type="submit" class="button">Send</button>
                    </form>
                </div>
            </div>

        </div>

        <!-- =========== footer end ======== -->
        <div class="footer">
            <p>&copy; 2024 Explore FATA. All Rights Reserved</p>
        </div>
        <!-- Arrow Up Icon -->
        <a href="#" id="scrollTopBtn" class="scroll-top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </footer>
     <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Swiper js CDN -->
    <script src="/js/swiper.js">
    </script>
    <script src="/js/script.js"></script>
   
 </div>

</body>
</html>