<%- include('partials/header') %>
    <!-- ===== About ========== -->
    <section id="about">
        <div class="container">
            <div class="about-content-wrapper">

                <div class="agency-left-side">
                    <p class="heading-normal-txt">BEST SITE TO EXPLORE FATA</p>
                    <h2 class="headings">DISCOVER <span>FATA</span> WITH OUR GUIDE</h2>
                    <p class="lead">
                        Welcome to Explore FATA, your ultimate guide to the former Federally Administered Tribal Areas.
                        Our mission is to showcase the region's beauty, heritage, and culture.
                    </p>
                    <p class="lead">
                        Our mission is to showcase the region's beauty, heritage, and culture.
                    </p>

                    <ul>
                        <li>
                            <div class="icons">
                                <i class="fa fa-check"></i>
                                <p>20 Years of Experience</p>
                            </div>
                        </li>
                        <li>
                            <div class="icons">
                                <i class="fa fa-check"></i>
                                <p>20 Tourism Regions</p>
                            </div>
                        </li>
                        <li>
                            <div class="icons">
                                <i class="fa fa-phone-volume"></i>
                                <p>+923 433 343</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="agency-right-side">
                    <div class="img">
                        <img src="Img/aboutImg.jpg" alt="picture">
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="heading-normal-txt">Who We Are</p>
                <h2 class="headings">What We <span>Offer</span> ?</h2>
                <p class="lead">
                    We are a team of local experts and travel enthusiasts dedicated to providing accurate and detailed
                    information about FATA.
                </p>
                <p class="lead">
                    <strong>In-Depth Info:</strong> Learn about each region's history and attractions. <br>
                    <strong>Popular Places:</strong> Discover must-visit sites with stunning visuals. <br>
                    <strong>Travel Tips:</strong> Get advice on travel logistics and local customs. <br>
                    <strong>Interactive Maps:</strong> Navigate through FATA with ease. <br>
                    <strong>User Reviews:</strong> Read recommendations from fellow travelers. <br>
                </p>
                <br>
                <p class="heading-normal-txt">Why Choose Us?</p>
                <p class="lead">
                    Local Expertise, Authentic insider knowledge, All major regions and attractions coverage and User-Friendly easy to navigate platform.
                </p>
                <br>
                <p class="heading-normal-txt">Join US</p>
                <p class="lead">
                    Embark on a journey with <strong>Explore FATA</strong> and Experience the regions captivating beauty and culture.
                </p>
            </div>
        </div>
        <br>
    </section>
    <!-- ===== About End========== -->

    <%- include('partials/footer') %>